a {
	text-decoration : none;
	color : #000;
}
ul {
	font-size: 40px;
	text-align: center;
	list-style: none
}
body {
   background-image: url("https://wallpapercave.com/wp/65thfiw.png");
   background-color: #cccccc;
}
h1#st {
	font-family: geneva, arial, helvetica, sans-serif;
	text-align: center;
	color: red;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
p#uni {
	font-size: 100px;
	text-align: center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table.t01 tr:nth-child(even) {
    background-color: #eee;
}
table.t01 tr:nth-child(odd) {
   background-color:#fff;
}
table.t01 th {
    background-color: black;
    color: white;
}